.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    background: rgba(234, 238, 234, 0.5);
    text-align: center;
    float: left;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


.container {
    padding: 2px 16px;
}

button{
    line-height: 1;
}

div{
    text-align: center;
}

nav{
    text-align: center;
    margin: 20px;
}

img{
    border-radius: 5px;
}