<div>
    <h1>MOVIES</h1>
    <form>
        <input type="text" placeholder="Name" ng-model="vm.newBook.name">
        <select ng-model="vm.newBook.collection" >
            <!-- not selected / blank option -->
            <option value="">choose collection</option>
            <!-- repeat over ships -->
            <option ng-repeat="collection in vm.collections" value="{{collection.name}}">{{collection.name}}</option>
        </select>
        <input type="date" placeholder="Date" ng-model="vm.newBook.date">
        <input type="text" placeholder="URL of Picture" ng-model="vm.newBook.img_url">
        <button ng-click="vm.submitBook()" ng-if="!vm.editing">SUBMIT</button>
        <button ng-click="vm.editBook()" ng-if="vm.editing">SUBMIT EDIT</button>
    </form>
    <div class="card" ng-repeat="book in vm.books">
        <img src="{{book.img_url}}" style="width:100%">
        <div class="container">
          <h4><b>{{book.name}}</b></h4> 
          <p>{{book.collection}}</p> 
          <p>{{book.date}}</p> 
          <button ng-click="vm.openEditor(book)" ng-if="!vm.editing">Edit</button>
          <button ng-click="vm.deleteBook(book.id)" ng-if="!vm.editing">Delete</button>
        </div>
    </div>
</div>