<div>
    <h1>ADD COLLECTION</h1>
    <input type="text" placeholder="ADD NEW" ng-model="vm.newCollection">
    <button ng-click="vm.submitCollection(vm.newCollection)">SUBMIT</button>
    <div>
        <table class="table">
            <thead>
                <td>Collection</td>
                <td>Total Movies</td>
                <td>Actions</td>
            </thead>
            <tr ng-repeat="collection in vm.collections" >
                <td>{{collection.name}}</td>
                <td>{{collection.count}}</td>
                <td><a class="btn" ng-click="vm.getCollectionBooks(collection)">EDIT</a></td>
                <td><button ng-click="vm.deleteCollection(collection.name)">Delete</button></td>
                <table class="table">
                    <tr ng-if="vm.showCollection" ng-repeat="book in vm.collectionToShow">
                        <td>{{book.name}}</td>
                        <td><img src="{{book.img_url}}" style="height:30%"></td>
                        <td>{{book.date}}</td>
                        <td>
                            <button ng-if="!vm.removed" ng-model="vm.removed" ng-click="vm.removeFromCollection(book)">Remove?</button>
                            <button ng-if="vm.removed" ng-click="vm.undoRemoveFromCollection(book)">Undo?</button>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>
</div>